html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  
}

body {
    min-width: none;
    background: var(--verydarkblue-main-bg);
    font-family: var(--font-outfit);
}