@use "../util" as *;

html {
    font-size: 100%;
    box-sizing: border-box;
    
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: var(--verydarkblue-main-bg);
    font-family: var(--font-outfit);
    height: 70vw;

    @include breakpoint-down(medium) {
        height: 150vw;
    }
}