:root {
    /* Primary Colors : */
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral Colors : */
    --verydarkblue-main-bg: hsl(217, 54%, 16%);
    --verydakrblue-card-bg: hsl(216, 50%, 16%);
    --verydarkblue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}