:root {
    /* Primary Colors : */
    --softblue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    /* Neutral Colors : */
    --verydarkblue-main-bg: hsl(217, 54%, 16%);
    --verydarkblue-card-bg: hsl(217, 40%, 22%);
    --verydarkblue-line: hsl(215, 34%, 26%);
    --white: hsl(0, 0%, 100%);
}