@use "../util" as *;

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    gap: rem(30);

    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    overflow: hidden;
    flex: 1;
    background-color: var(--cyan);
    color: var(--white);
    padding: rem(25);
    text-align: center;

    &__name {
        color: var(--white);
        font-weight: 700;
        letter-spacing: rem(-2);
        line-height: 1;
        margin-bottom: rem(4);
    }

    &__descript {
        font-size: rem(18);
        color: (--softblue);
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(12)
    }
}